.calinput {
    width: 25%;
    height: 30px;
    margin: 7px;
}

.callistbut
{
    margin: 8px;
    width: 22%;
}

th {
    background: cadetblue !important;
    font-weight: 900;
}
a {
    text-decoration: none;
    color: wheat;
}
